// List of colors used across the site
// Color names from http://chir.ag/projects/name-that-color

$chambray: #3f618f;
$endeavor: #005b9d;
$science-blue: #006cd1;
$lochmara: #0278e7;
$silver: #ccc;
$silver-chalice: #aaa;
$wildsand: #f5f5f5;
$dove-gray: #606060;
$nobel: #b7b7b7;
$seashell: #f1f1f1;
$gallery: #efeeee;
$mineshaft: #010101;
$gallery: #efeeee;
$concrete: #f2f2f2;
$alto: #d6d6d6;

// Font Sizes
$body-text: 0.94em;

// Site layout
$max-page-width: 1080px;

// Global site theme styles
$font-family: 'Open Sans', Helvetica, sans-serif;
$element-box-shadow: 0 0 20px 5px $silver-chalice;

// Responsive breakpoints / screen-sizes
$screen-xs: 25em;
$screen-sm: 35.5em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 80em;

// Color name to dom element mapping
$body-color: $concrete;
$label-color: $dove-gray;
$link-color: $science-blue;
$border-color: $silver;
$content-back-color: $wildsand;

// Search inputs
$input-text-color: $dove-gray;

// Main results text
$info-text-color: $mineshaft;

// Standard border
$standard-border: 1px solid $border-color;

// Error elements
$error-color: red;
$error-text-size: 12px;

// Search and Cancel buttons
$btn-primary-back-color: $science-blue;
$btn-primary-text-color: $wildsand;

$btn-cancel-back-color: $alto;
$btn-cancel-text-color: $mineshaft;

// Blue and gray result tags
$blue-tag-back-color: $science-blue;
$blue-tag-text-color: white;

$gray-tag-back-color: $gallery;
$gray-tag-text-color: $mineshaft;
